#contact {
	background-color: white;
	z-index: 2;
	position: absolute;
	top: 300vh;
	height: 100vh;
	width: 100vw;
}

.a-button {
	display: inline-block;
	background-color: white;
	width: 100px;
	height: 100px;
	padding: 0;
	margin: 20px;
	border: 0;
	transition: 0.3s;
	font-size: 0;
	text-decoration: none;
	text-align: left;
	border: 3px solid black;
	border-radius: 15px;
}


.a-button .title-button {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: transparent;
	margin: 0;
}

.a-button div {
	font-size: medium;
}

.a-button .content {
	display: inline-block;
	background-color: transparent;
	margin: 0;
	width: 0;
	position: relative;
	/*top: -85px;*/
	left: 0;
	height: 100px;
	text-align: center;
}

.a-button .table {
	visibility: hidden;
	color: white;
	font-weight: bold;
}

.table {
	bottom: 0;
	display: table;
	width: 100%;
	text-align: center;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

@media (min-width: 900px) {
	.a-button:hover .content {
		width: 400px;
		height: 100px;
		transition: 0.3s;
		background-color: black;
		border-radius: 0 10px 10px 0;
	}

	.a-button:hover {
		transition: 0.3s;
		width: 500px;
	}

	.a-button:hover .table {
		visibility: visible;
		transition-delay: 0.2s;
		height: 100%;
	}
}

@media (max-width: 900px) {
	.a-button:hover {
		transition: 0.3s;
		transform: scale(1.1);
	}
}