#index {
    display: block;
}

header {
    margin: -10px auto;
    height: 100px;
    background: linear-gradient(#06031A 10%, 50%, transparent 100%); /*  090623  06031A  */
}

header nav {
    padding-top: 20px; /* Pour descendre le menu par rapport au top*/
}

header nav ul form .menubutton {
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

header nav ul form .menubutton:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

header nav .language_form {
    position: absolute;
    padding-top: 10px;
    left: 20px;
    display: inline-block;
}

header nav ul {
    padding: 5px;
    padding-right: 50px;
    text-align: right;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header nav ul li.contact_button {
    border: 3px solid #69C0D9;
    border-radius: 20px;
    color: #69C0D9;
    transition: 0.25s ease;
}

#arrow-right {
    display: inline-block;
    height: 7px;
    width: 7px;
    margin-left: 3px;
    margin-right: 10px;
    border-right: 3px solid #69C0D9;
    border-top: 3px solid #69C0D9;
    transform: rotate(45deg);
    transition: 0.25s ease;
}

header ul li.button {
    transition: 0.25s ease;
}

header ul li.button:hover {
    -webkit-transform: scale(1.1);
    transition: 0.25s ease;
}

header ul li.contact_button:hover {
    /*border: 1px solid white;
    color: white;*/
    background-color: rgba(105, 192, 217, 0.2);
    transition: 0.5s ease;
}

header ul li.contact_button:hover #arrow-right {
    /*color: white;*/
    margin-left: 10px;
    margin-right: 3px;
    transition: 0.5s ease;
}

.img_profil {
    height: 50vh;
    border-radius: 10000px;
    border: 3px solid white;
    float: left;
}

#description {
    margin: 15vh;
    color: white;
    padding: 0;
    height: 50vh;
}

.title {
    margin: 50px 50px 0 55vh;
    font-size: 50px;
    font-weight: bold;
}

.under_title {
    font-size: 25px;
    margin-left: 55vh;
}

@media (max-width: 1000px) {
    header nav ul li {
        display: none;
    }

    header nav .language_form {
        display: show;
    }

    #description {
        margin: 4vh;
    }

    #index {
        text-align: center;
    }

    .img_profil {
        height: 30vw;
        border-radius: 10000px;
        float: none;
    }

    .title {
        margin: 0;
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    .under_title {
        font-size: 20px;
        margin: 0;
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: sticky; /*fixed*/
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #090623;
    overflow: hidden;
}

.background span {
    z-index: -1;
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 36;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #205fb1;
    top: 38%;
    left: 80%;
    animation-duration: 18s;
    animation-delay: -131s;
    transform-origin: 19vw 24vh;
    box-shadow: -2vmin 0 0.888721790400361vmin currentColor;
}
.background span:nth-child(1) {
    color: #072a41;
    top: 30%;
    left: 89%;
    animation-duration: 46s;
    animation-delay: -88s;
    transform-origin: 12vw -13vh;
    box-shadow: 2vmin 0 0.8856737764897231vmin currentColor;
}
.background span:nth-child(2) {
    color: #072a41;
    top: 59%;
    left: 68%;
    animation-duration: 128s;
    animation-delay: -132s;
    transform-origin: -13vw 1vh;
    box-shadow: -2vmin 0 0.9938373571319323vmin currentColor;
}
.background span:nth-child(3) {
    color: #142b71;
    top: 44%;
    left: 82%;
    animation-duration: 19s;
    animation-delay: -119s;
    transform-origin: 15vw -19vh;
    box-shadow: 2vmin 0 0.8028526737223001vmin currentColor;
}
.background span:nth-child(4) {
    color: #072a41;
    top: 8%;
    left: 34%;
    animation-duration: 34s;
    animation-delay: -117s;
    transform-origin: 3vw -19vh;
    box-shadow: 2vmin 0 1.2265195151721364vmin currentColor;
}
.background span:nth-child(5) {
    color: #072a41;
    top: 96%;
    left: 75%;
    animation-duration: 20s;
    animation-delay: -138s;
    transform-origin: -11vw -24vh;
    box-shadow: 2vmin 0 0.9980866899173786vmin currentColor;
}
.background span:nth-child(6) {
    color: #072a41;
    top: 64%;
    left: 10%;
    animation-duration: 140s;
    animation-delay: -27s;
    transform-origin: -3vw -16vh;
    box-shadow: -2vmin 0 0.28198081156649146vmin currentColor;
}
.background span:nth-child(7) {
    color: #142b71;
    top: 55%;
    left: 55%;
    animation-duration: 92s;
    animation-delay: -93s;
    transform-origin: -4vw 10vh;
    box-shadow: -2vmin 0 0.8128954513993445vmin currentColor;
}
.background span:nth-child(8) {
    color: #142b71;
    top: 40%;
    left: 91%;
    animation-duration: 35s;
    animation-delay: -103s;
    transform-origin: 6vw 1vh;
    box-shadow: 2vmin 0 0.9860454366193465vmin currentColor;
}
.background span:nth-child(9) {
    color: #142b71;
    top: 43%;
    left: 25%;
    animation-duration: 78s;
    animation-delay: -63s;
    transform-origin: 2vw 21vh;
    box-shadow: 2vmin 0 0.6669905212099636vmin currentColor;
}
.background span:nth-child(10) {
    color: #205fb1;
    top: 94%;
    left: 73%;
    animation-duration: 145s;
    animation-delay: -134s;
    transform-origin: -3vw 11vh;
    box-shadow: 2vmin 0 1.1947151618103433vmin currentColor;
}
.background span:nth-child(11) {
    color: #142b71;
    top: 21%;
    left: 98%;
    animation-duration: 57s;
    animation-delay: -83s;
    transform-origin: 7vw -12vh;
    box-shadow: 2vmin 0 1.1858817710104592vmin currentColor;
}
.background span:nth-child(12) {
    color: #142b71;
    top: 9%;
    left: 96%;
    animation-duration: 25s;
    animation-delay: -94s;
    transform-origin: 13vw -12vh;
    box-shadow: -2vmin 0 0.8078435724701809vmin currentColor;
}
.background span:nth-child(13) {
    color: #205fb1;
    top: 72%;
    left: 69%;
    animation-duration: 124s;
    animation-delay: -100s;
    transform-origin: 18vw 16vh;
    box-shadow: 2vmin 0 0.7099832756593636vmin currentColor;
}
.background span:nth-child(14) {
    color: #205fb1;
    top: 44%;
    left: 54%;
    animation-duration: 118s;
    animation-delay: -67s;
    transform-origin: 1vw -15vh;
    box-shadow: 2vmin 0 0.8757727212957098vmin currentColor;
}
.background span:nth-child(15) {
    color: #142b71;
    top: 27%;
    left: 80%;
    animation-duration: 144s;
    animation-delay: -56s;
    transform-origin: -19vw 8vh;
    box-shadow: -2vmin 0 1.0692900919042303vmin currentColor;
}
.background span:nth-child(16) {
    color: #142b71;
    top: 55%;
    left: 57%;
    animation-duration: 116s;
    animation-delay: -75s;
    transform-origin: -3vw -18vh;
    box-shadow: 2vmin 0 0.5161719376003056vmin currentColor;
}
.background span:nth-child(17) {
    color: #142b71;
    top: 3%;
    left: 40%;
    animation-duration: 75s;
    animation-delay: -127s;
    transform-origin: 0vw 2vh;
    box-shadow: 2vmin 0 0.545898522304443vmin currentColor;
}
.background span:nth-child(18) {
    color: #205fb1;
    top: 81%;
    left: 60%;
    animation-duration: 33s;
    animation-delay: -42s;
    transform-origin: -6vw -17vh;
    box-shadow: -2vmin 0 1.0584396975828503vmin currentColor;
}
.background span:nth-child(19) {
    color: #072a41;
    top: 22%;
    left: 77%;
    animation-duration: 29s;
    animation-delay: -5s;
    transform-origin: -23vw -12vh;
    box-shadow: 2vmin 0 0.7586503971429541vmin currentColor;
}
.background span:nth-child(20) {
    color: #205fb1;
    top: 75%;
    left: 76%;
    animation-duration: 78s;
    animation-delay: -76s;
    transform-origin: 18vw 23vh;
    box-shadow: -2vmin 0 0.4075688153456536vmin currentColor;
}
.background span:nth-child(21) {
    color: #072a41;
    top: 45%;
    left: 100%;
    animation-duration: 82s;
    animation-delay: -22s;
    transform-origin: 4vw -15vh;
    box-shadow: -2vmin 0 0.8884573129816788vmin currentColor;
}
.background span:nth-child(22) {
    color: #205fb1;
    top: 36%;
    left: 17%;
    animation-duration: 9s;
    animation-delay: -120s;
    transform-origin: -10vw -22vh;
    box-shadow: 2vmin 0 0.5354528481016505vmin currentColor;
}
.background span:nth-child(23) {
    color: #142b71;
    top: 46%;
    left: 95%;
    animation-duration: 54s;
    animation-delay: -4s;
    transform-origin: 15vw -20vh;
    box-shadow: -2vmin 0 0.5861148281646544vmin currentColor;
}
.background span:nth-child(24) {
    color: #072a41;
    top: 97%;
    left: 81%;
    animation-duration: 58s;
    animation-delay: -62s;
    transform-origin: 15vw 2vh;
    box-shadow: 2vmin 0 0.9093165296841836vmin currentColor;
}
