#skill {
	background-color: grey;
	z-index: 2;
	position: absolute;
	top: 200vh;
	height: 100vh;
	width: 100vw;
}

span.button {
	display: inline-block;
	height: 32px;
	width: 32px;
	padding: 50px;
	margin: 30px;
	background-color: red;
}

#logo {
	display: inline-block;
	width: 100%;
	color: white;
}

div.button {
    display: none;
    color: white;
}

#logo:hover + span.button {
	width: 100px;
}
    
#logo:hover + div.button {
    display: inline-block;
    background-color: blue;
    height: 32px;
    padding: 50px;
    margin-left: 50px;
    vertical-align: middle;
}

div.button:hover {
	display: inline-block;
    background-color: blue;
    height: 32px;
    margin-left: 50px;
}